html {
	font-family: sans-serif;
	margin: 0;
	background: url("office.png");
	background-color: #8A8A8A;
	color: #EDEDED;
}

a:hover {
	color: #BDBDBD;
}

.neutralLink {
	color: #EDEDED;
	text-decoration: none;
}

.orangeFont {
	color: #D99B45;
}

.orangeLine {
	border-color: #D99B45;
}

#headerContainer {
	background-color: #1A1A1A;
	height: 100%;
}

#headerTable {
	padding: 3em;
	vertical-align: middle;
	padding-top: 4.2em;
	padding-bottom: 4.2em;
	background-color: #1A1A1A;
	width: 100%;
	table-layout: fixed;
}

#leftHeader {
	vertical-align: middle;
	font-size: 2.9em;
	font-weight: bold;
	text-align: left;
}

#middleHeader {
	vertical-align: middle;
	font-size: 1.2em;
	text-align: center;
}

#rightHeader {
	vertical-align: middle;
	font-size: 1.7em;
	text-align: right;
}

#mainHeader {
	padding: 2em;
	padding-right: 5em;
	padding-left: 5em;
	font-size: 4.3em;
	text-align: center;
	background-color: #1A1A1A;
}
