body {
	font-family: sans-serif;
	margin: 0;
	background: url("office.png");
	background-color: #8A8A8A;
	color: #EDEDED;
}

a:hover {
	color: #D6D6D6;
}

#headerTable {
	padding: 3em;
	padding-top: 4.2em;
	padding-bottom: 4.2em;
	background-color: #424242;
	width: 100%;
	table-layout: fixed;
}

#leftHeader {
	font-size: 2.5em;
	font-weight: bold;
	text-align: left;
}

#middleHeader {
	font-size: 1.2em;
	text-align: center;
}

#rightHeader {
	font-size: 1.7em;
	text-align: right;
}

.neutralLink {
	color: #EDEDED;
	text-decoration: none;
}