html {
	font-family: sans-serif;
	margin: 0;
	background: url("office2.png");
	background-color: #8A8A8A;
	color: #EDEDED;
}

html, body {
	margin: 0;
	padding: 0;
}

.neutralLink {
	color: #EDEDED;
	text-decoration: none;
}

a:hover {
	color: #BDBDBD;
}

.orangeFont {
	color: #D99B45;
}

.sectionContainer {
	width: 100%;
	margin: 0;
	padding: 1em;
}

.sectionHeader {
	font-weight: bold;
	font-size: 2.6em;
	font-variant: small-caps;
	padding-left: 1em;
}

.sectionParagraph {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 2em;
}

#headerContainer {
	width: 100%;
	height: 100%;
	min-height: 100%;
	border-bottom: 3px solid #D99B45;
	margin: 0;
	background-color: #3B3B3B;
	border-radius: 3px;
}

#headerTable {
	padding: 3em;
	vertical-align: middle;
	padding-top: 4.2em;
	background-color: #1A1A1A;
	width: 100%;
	table-layout: fixed;
}

#leftHeader {
	vertical-align: middle;
	font-size: 2.9em;
	font-weight: bold;
	text-align: left;
}

#middleHeader {
	vertical-align: middle;
	font-size: 1.2em;
	text-align: center;
}

#rightHeader {
	vertical-align: middle;
	font-size: 1.7em;
	text-align: right;
}

#mainHeader {
	padding-top: 3em;
	padding-bottom: 3em;
	padding-right: 5em;
	padding-left: 5em;
	font-size: 4em;
	text-align: center;
	background-color: #1A1A1A;
}
